
.bggrad1{
    position: absolute;
    width: 100px;
height: 100px;
border-radius: 100%;
top: -300%;
left: -10%;
background: linear-gradient(90deg, #8331ff 0%, rgba(217, 217, 217, 0.00) 100%);
/* filter: blur(70.5px); */
z-index: -1;
}
.bggrad2{
    position: absolute;
    top: -400px;
    left: -40%;
    width: 19rem;
height: 19rem;
border-radius: 100%;
background: linear-gradient(90deg, #dd31ff 0%, rgba(217, 217, 217, 0.00) 100%);
filter: blur(50.5px);
z-index: -1;

}
.img-container{
    position: relative;
    
    
}
.img-container>img{
    border-radius: 50%;
    height: 400px;
    box-shadow: var(--shadow);
}
.hero-wrapper{
    position: relative;
    padding-bottom: 0rem;
}
.hero-container{
    justify-content: space-evenly;
    align-items: flex-end;
}
.hero-left{
    gap: 32px;
}
.hero-title{
    color: var(--font);
    position: relative;
    filter: drop-shadow(3px 3px 0px rgba(195, 0, 255, 0.625));
    z-index: 1;
}
.hero-title>h1{
    color: var(--font);
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 1rem;
}
.hero-subtitle>h2{
    color: var(--font);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 28px;
}
.desc{
    font-weight: 100;
    color: rgb(129, 129, 129);
    line-height: 20px;
   
}
.cta1{
    position: relative;
    top: -20px;
    left: -20px;
}
.linkedin>a>img{
    height: 36px;
    width: 36px;
    margin: 20px;
    filter: var(--filte);
    transition: all .5s ease-in-out;
}
.linkedin>a>img:hover{
    transition: all .5s ease-in-out;
    transform: scale(1.2);
}
.instagram>a>img{
    height: 36px;
    width: 36px;
    filter: var(--filte);
    margin: 20px;
    transition: all .5s ease-in-out;
}
.instagram>a>img:hover{
    transition: all .5s ease-in-out;
    transform: scale(1.2);
}
.github>a>img{
    height: 36px;
    width: 36px;
    filter: var(--filte);
    margin: 20px;
    transition: all .5s ease-in-out;
}
.github>a>img:hover{
    transition: all .5s ease-in-out;
    transform: scale(1.2);
}
.button1{
    display: none;
    width: 120px;
    background: none;
    color: var(--font);
    border: 1px solid var(--font);
    padding: 1rem;
    border-radius: 12px;
    transition: all .5s ease-in-out;
}
.button1:hover{
    background: #ffffff;
    color: black;
    cursor: pointer;
}

@media (max-width: 670px){
    .img-container{
        top: -3rem;
        left: 1rem;
    }
    .img-container>img{
        position: relative;
        height: 300px;
        width: 300px;
    }
    .socials{
        position: relative;
        padding: 0;
        top: -30px;
        margin: auto;
    }
    .bggrad1{
        height: 60px;
        width: 60px;
        top: -70%;
    }
}
@media (max-width: 410px){
    .bggrad1{
        top: -10%;
    }

}
@media (max-width: 900px){
    .button1{
        display: inline-block;
    }
}
