.h-container{
    justify-content: space-between;
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
   
    

}
.h-wrapper{
   
   position: sticky;
   z-index: 100;
}
.h-menu{
    gap: 2rem;
}
.change-theme{
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: white;
    border: none;
    transition: all .2s ease-in-out;
}
.change-theme:hover{
   

    background: var(--blue-gradient);
    

}
#abc{
    filter: var(--filte);
}
.ham{
    display: none;
}
/* @media (max-width: 900px){
    .Navv{
        display: none;
    }
    .ham{
        display: flex;
        position: relative;
        align-items:flex-end;
        margin: 30px;
        left: 80%;
    }

} */
